@import "../../scss/variable";

.empty-cart {
  text-align: center;

  .empty-cart__title {
    font-weight: 700;
    font-size: 1.8rem;
  }

  img {
    max-width: 40%;
  }
}

.cart-wrap__list {
  width: 100%;
  padding: 2.5rem 0rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .cart-item + .cart-item {
    margin-top: 1.5rem;
  }

  .cart-item {
    display: flex;
    align-items: center;
    padding: 0 {
      left: 2rem;
    }

    .cart-item__img {
      width: 8rem;
      height: 8rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .cart-item__content {
      flex: 1;
      padding: 0 2rem;
      font-size: 1.4rem;

      h3 {
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;

        text-align: left;
        font-weight: 600;
      }

      .cart-item__desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;

        // background-color: aqua;

        .cart-item__price {
          margin-right: 1rem;
        }
        .cart-item__quantity {
          border: 1px solid #aaa;
          border-radius: 0.5rem;

          display: flex;
          align-items: center;

          span {
            padding: 0 0.6rem;
            display: inline-block;

            height: 100%;

            border-left: 1px solid #aaa;
            border-right: 1px solid #aaa;
          }

          button {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 0.5rem;

            opacity: 0.7;
            border: 1px solid #aaa;
            border: none;
          }
        }

        .cart-item-delete {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding-top: 0.2rem;

          i {
            left: 0;
            font-size: 2.6rem;
            color: $primary-color;
          }
        }
      }

      .total-price-of-product {
        text-align: left;

        .title {
          font-size: 1.6rem;
          font-weight: 700;
        }

        .number {
          color: $primary-color;
        }
      }
    }
  }
}
