@import "../../scss/variable";

.cart-page {
  $cart-page-zindex: 0;
  .cart-page-heading {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: 700;

    text-align: center;
    color: $blue-text-color;
    padding: 4rem 0;
  }
  // end of .cart-page-heading

  .product-infor {
    & > .header {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    .body {
    }

    .footer {
      .footer-heading {
        font-weight: 700;
        font-size: 1.8rem;
        margin: 2rem auto 1rem;
      }

      .note {
        height: 10rem;
        width: 100%;
        padding: 1rem 2rem;

        font-size: 1.4rem;
        outline: none;
        border-radius: 1rem;
      }
    }
  }
  // end of .product-infor

  .order-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 1.5rem;
    border-radius: 0.5rem;

    &::before {
      content: "";
      display: block;
      border-radius: 0.5rem;

      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;

      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      display: block;
      border-radius: 0.5rem;

      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;

      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .header {
      font-size: 2.2rem;
      font-weight: 700;
      margin: 1.5rem auto;
    }

    .total-price {
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem 0;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }

      .total-num {
        color: $primary-color;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }

    .note {
      font-size: 1.6rem;
      opacity: 0.6;
    }

    .pay-btn {
      cursor: pointer;
      padding: 0.5rem 2rem;
      font-size: 1.6rem;
      z-index: $cart-page-zindex + 1;

      border-radius: 0.5rem;
      border: none;
      margin: 1rem;

      color: #fff;
      background-color: $primary-color;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
  }
  // end of .order-infor
}
// end of .cart-page
