$purple-color: #800080;
$light-purple-color: #b300b3;
$blue-text-color: #0fbdf2;

$yellow-color: #f5cf45;
$pink-color: rgb(219, 112, 147);

$primary-color: rgb(230, 150, 70);
$primary-color1: rgb(70, 70, 70);
$primary-color2: rgb(250, 175, 100);
